#header {
    /* Kopfbereich  */

    margin: 0 auto;
    height: 50px;
    width: 100%;
    height: 82px;
    background-color: #00A000;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

#header h1 {
    color: #333399;
    padding: 5px
}

#header #high {
    color: white;
    font-weight: bold;
}

#header a:link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#header a:hover {
    color: white;
}

#header a:active {
    color: white;
}

#header a:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#header td {
    padding: 0 0 0 8px;
}

#header ul {
    list-style-type: none;
    padding-top: 2px;
    margin: 0 0 0 10px;
}

#header ul li {
    display: inline;
    margin: 0.4em;
    padding: 5px;
}
/*
#BFE3EE
*/

.header_logo {
    padding-left: 20%;
    padding-top: 20px;
    float: left;
    height: 100%;
    width: 15%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.login_div {
    padding-right: 200px;
    height: 100%;
    float: right;
    width: 30%;
    color: white;
}
/*
#BFE3EE;
*/