.main {
    width: 80%;
}

#registration {
    float: right;
    width: 35%;
    height: 500px;
    background-color: #FFFFFF;
    background-color: #EFFBF2;
    /*
    float: left;
    padding: 40px 0 30px 10px;
    width: 500px;
  */
}

#description_div {
    float: right;
    width: 50%;
    height: 500px;
    background-color: #FFFFFF;
    background-color: #EFFBF2;
    /*
    float: left;
    padding: 40px 0 30px 10px;
    width: 500px;
  */
}

.registration h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333399;
    padding-bottom: 14px
}

.registration_headline {
    width: 100%;
    padding: 5px;
}

.info {
    margin-top: 30px;
    width: 100%;
    height: 200px;
}

.registration_input_div {
    width: 100%;
    padding: 5px;
}

.registration_button {
    width: 100%;
    padding: 5px;
}

.registration_input {
    width: 100%;
    color: #9197a3
}

.registration_button {
    width: 200px;
    height: 50px;
}

.description_div li {
    margin: 0.4em;
    padding: 5px;
    height: 30px;
    font-size: 20px;
}

.img_div {
    padding-left: 15%;
}

.login_div input {
    width: 142px;
    border: 1px solid #eee;
}

.link_div {
    float: right;
}

.login_buttons {
    float: right;
    width: 200px;
}

.info_div {
    padding-top: 10px;
    float: right;
    width: 300px;
}