.main {
    padding: 1% 2% 0 2%;
    font: 14px Verdana, sans-serif;
}

.finder_main_div {
    width: 38%;
    float: left;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    max-width: 100%;
    overflow: auto;
    padding: 10px;
}

.platzhalter {
    height: 5000px;
}

.list_main_div {
    width: 58.9%;
    float: right;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    max-width: 100%;
    overflow: auto;
    padding: 10px;
}

.finder_menu_div {
    float: left;
    width: 100%;
    padding: 10px;
}

.finder_public {
    padding: 10px;
    width: 100%;
    float: left;
    text-align: left;
}

.finder_user {
    padding: 10px;
    width: 100%;
    float: left;
    text-align: left;
}

.jstree a {
    margin: 3px;
}

.learn_button_div {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    height: 100px;
}

.voc_div {
    background-color: #EFFBF2;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 3px #ddd inset;
    box-sizing: border-box;
    padding: 0.5em 0.6em;
}

.learn_button_div input {
    width: 200px;
    height: 50px;
    font-size: 20;
    background-color: #00A000;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.new_voc_div {
    height: 100px;
}

.question_main_div {
    float: left;
    overflow: hidden;
    width: 47.5%;
}

.answer_main_div {
    float: left;
    overflow: hidden;
    width: 47.5%;
}

.voc_menu_div {
    float: left;
    overflow: hidden;
    width: 5%;
}

.question_input {
    width: 99%;
}

.answer_input {
    width: 95%;
}

.new_answer_input {
    width: 95%;
}

.new_voc_question_input {
    width: 99%;
    background-color: FFFFC6;
}

.new_voc_answer_input {
    background-color: FFFFC6;
    width: 95%;
}

.new_voc_answer_input_option {
    background-color: FFFFC6;
    float: left;
    overflow: hidden;
    width: 95%;
}

.list_main_div textarea {
    float: left;
    overflow: hidden;
    resize: none;
    border: 0px solid #ccc;
    display: inline-block;
    padding: 0.5em 0.6em;
    margin-bottom: 5px;
}

.answer_delete_button {
    float: left;
    overflow: hidden;
}

.new_voc_answer_delete_button {
    float: left;
    overflow: hidden;
}